<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Urjakart, All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Urjakart\UkPullApi\Api\ProductApiInterface" type="Urjakart\UkPullApi\Model\ProductApi" />
    <preference for="Urjakart\UkPullApi\Api\Data\FormatInterface" type="Urjakart\UkPullApi\Model\Format" />
    <preference for="Urjakart\UkPullApi\Api\Data\HeaderInterface" type="Urjakart\UkPullApi\Model\Header" />
</config>
