<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <phonepe>
                <model>Urjakart\Phonepe\Model\PhonePe</model>
                <title>Phonepe UPI</title>
                <production_url>https://mercury.phonepe.com</production_url>
                <uat_url>https://mercury-uat.phonepe.com</uat_url>
                <environment>uat</environment>
                <redirect_url>phonepe/standard/redirect</redirect_url>
                <return_url>phonepe/standard/response</return_url>
                <merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <salt backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <salt_index>1</salt_index>
                <api_version>v3</api_version>
            </phonepe>
        </payment>
    </default>
</config>