<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 Urjakart. All rights reserved.
  ~ See COPYING.txt for license details.
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <ukindexer>
            <general>
                <enable_ukindexer>0</enable_ukindexer>
            </general>
        </ukindexer>
    </default>
</config>